/* Master Styles */

		body{
			margin:0px;
			background-color:black;
		}

/*Previous and Next Buttons*/

		.flickity-button {
		  background: transparent;
		}

/*Cell Styles*/

		.carousel-cell {
		  margin:0px;
		  width: 100vw; /* full width */
		  height: 100vh;
		  background: transparent;
		}

/*	Navigational Dot Styles*/

		/* position dots in carousel */
		.flickity-page-dots {
		  position:absolute;
		  bottom: 50px;
		  right: 19vw;

		}
		/* white circles */
		.flickity-page-dots .dot {
		  width: 10px;
		  height: 10px;
		  opacity: 1;
		  background:;
		  border: 2px solid white;
		}

/*	Typography */

		.h1 {
			position:absolute;
			font-family: miller-banner, serif;
			font-weight: 400;
			font-style: normal;

			letter-spacing:1px;
			font-size:60px;
			line-height:80px;
			color:white;
			left:20vw;
			top:15.5vh;
			z-index:2;
		}

		.h2 {
			font-family: miller-banner, serif;
			font-weight: 400;
			font-style: normal;
			font-size:40px;
			line-height:50px;
			letter-spacing:1px;
			color:white;
			left:15%;
			top:10%;
			z-index:2;
		}

		.h3 {
			position:relative;
			max-width:400px;
			font-family: miller-banner, serif;
			font-weight: 400;
			font-style: normal;
			font-size:20px;
			line-height:30px;
			color:white;
		}

		p, li {		
			max-width:360px;
			font-family: miller-text,serif;
			font-weight: 400;
			font-style: normal;
			color: white;
			font-size: 16px;
			line-height:28px;
		}

			.small{
				font-size: 10px;
				line-height:20px;
			}

			#upper-line{
				border-top: 1px solid white;
			}


	/*   Menu Bar / Navigation   */
	.main_menu {
		position:absolute;
		top:15px;
		width:98vw;

		font-family: miller-text,serif;
		font-weight: 400;
		font-style: normal;

		left:50%;
		transform:translateX(-50%);

		margin: 0px;
		padding: 0px;
		z-index:4;
	}

	.title{
		width:25vw;
		color:#848484;
		text-transform:uppercase;
		font-size:18px;
		line-height:20px;

		letter-spacing:0.05em;
		text-align:center;
		z-index: 1;


		background-color:transparent;
		transition: all .2s ease-in-out;

		cursor: pointer;
	}

	.title:hover{
		transform: scale(1.1);
		color:white;
		letter-spacing:0.2em;
	}

/*	Logo Image*/
		#page1{
			max-width:220px;
			padding-top:12px;
		}


/*	Page 1*/

 .content-container-pg1{
 	position:absolute;
 	top:20vh;
 	height: 80vh;
 	width: 100vw;

 }

			/*	 Sale Popup!   */
			.discount{
					font-family: miller-text,serif;
					font-weight: 400;
					font-style: normal;

					position:sticky;
					top:20vh;
					left: 80vw;
					width:350px;
					height:50px;
					background-color:transparent;
					color: white;
					padding: 5px transparent;

					border-width: 4px;
					border-style: double;
					border-color: white;

					text-align: center;
					vertical-align: middle;
					line-height: 50px;
					z-index:2;

					transition: all .2s ease-in-out;

				}

			.discount:hover{
					transform:translateX(-20px);
					box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.4);
				}

			
/*					box-shadow: 20px 10px 20px 5px black;*/

			/*Photo of Esperel Box*/
			.present{
				position:sticky;

				top:58%;
				left:50%;
				transform:translateX(-50%);
				max-height:73%;
				max-width:75%;
				z-index: 1;
			}

				/*Subscribe and Gift Buttons*/
				.button {
					position:relative;
					display:inline-block;
					margin:10px;
					z-index: 3;

					width:180px;
					height:50px;
					top:89vh;
					left:60vw;

					font-family: miller-text,serif;
					font-weight: 400;
					font-style: normal;

					line-height:50px;
					letter-spacing:1px;
					font-size:20px;
					text-align:center;

					color: white;

					background-color:black;
					border: 0.5px solid #848484;

					transition: all .2s ease-in-out;
					cursor: pointer;
				}

				#button1{
					left: /*50vw*/;
				}

				.button:hover{
				    transform: scale(1.1);
					box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.4);
					color:black;
					background-color:white;
				}
/*Fix the Spacing of these buttons when they scale*/


/* Page 2 */
	
	.content-container-pg2{
		position:absolute;
		width: 360px;
		padding:35px;
		left: 25vw;
		top: 20vh;

	}

	.p_pg1{
		border-top:1px solid white;
		border-bottom:1px solid white;
	}

/*Page 3*/

/*	#ribbon{
		position:absolute;
		width:200px;
		top:-200px;
		left:10%;
		transform:rotate(6deg);
		opacity:0.7;
*/
/*	}
*/
	.content-container-pg3{
		position:absolute;
		display:inline-block;
		width: 1000px;
		left: 25vw;
		top: 22vh;
	}

	.copy_1{
		display:inline-block;
	}

/*Page 4*/

	.content-container-pg4{
		position:absolute;
		display:inline-block;
		width: 80%;
		left: 26.5vw;
		top: 30vh;
	}

	#instructions{
		position:absolute;
		max-width: 330px;
		display:inline-block;
		top:0px;
		left:450px;

		font-size: 18px;
		line-height: 40px;
	}

/*	.span{ 
		position:absolute;
		font-size:50px;
		color:white;
	 }*/

/*Page 5*/

			.header-container-pg5{
				position:absolute;
				top:17%;
				left:30%;
				transform:translateX(-30%);

				height:20%;
				max-width:100%;

				background-color:;
			}

			#header-pg5{
				padding-left:15px;
				padding-right:15px;
			}

		/*	Table 2 Parameters*/


	/*	Table 2 Parameters*/
	.content-container-pg5{
		position:absolute;
		top:20%;
		left:50%;
		transform:translateX(-50%);
		max-width:80%;
		height:1000px;
	}


/*		Column Size*/
		.pg5 {
			position:relative;
			width: 25vw;
			padding-left:15px;
			padding-right:15px;

		}

		#type-container-pg5-right{
			position:relative;
			width:300px;
			top:20px;
			padding-left:30px;
		}

		#type-container-pg5-left{
			position:relative;
			width:300px;
			top:20px;
			padding-left:30px;
		}

		.pg5-img{
			position:relative;
			max-width: 400px;
			display:inline-block;

			transition: all .2s ease-in-out;
			cursor: pointer;

		}

		.pg5-img:hover{
			transform:translateY(-20px);
			box-shadow: 0px 0px 20px 6px rgba(255, 255, 255, 0.4);
			transform: scale(1.05);
		}


